<div class="left-bar" ng-controller="leftSideBarCtrl">
        <div class="admin-logo">
            <div class="logo-holder pull-left">
                <img class="logo" ng-src="assets/images/" alt="TES CLOUD">   
            </div>
            <!-- logo-holder -->            
            <a href="#"  ng-click="$storage.miniSidebar = $storage.miniSidebar ? false : true" class="menu-bar  pull-right"><i class="ti-menu"></i></a>
        </div>
        <!-- admin-logo -->
        <ul class="list-unstyled menu-parent" id="mainMenu">
        <li>
            <a ui-sref="app.dashboard">
                <i class="icon ion-monitor"></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
            <li ng-if="$root.userRole=='Admin'"><a ui-sref="app.users-table"><i class="icon ion-person"></i><span class="text">Users</span></a></li>
            <li ng-if="$root.userRole=='Admin' || $root.userRole=='Owner'"><a ui-sref="app.devices-table"><i class="icon ion-android-laptop"></i><span class="text">Devices</span></a></li>
            <li><a ui-sref="app.basic-alerts"><i class="icon ion-ios-bell"></i><span class="text">Alerts</span></a></li>


      
        </ul>
    </div>
    <!-- left-bar -->