<div class="animated fadeInUpBig" ng-controller="editFarmCtrl">
	<!-- panel -->
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title">
				Edit Farm
				<span class="panel-options">
					<a href="#" class="panel-refresh">
						<i class="icon ti-reload"></i>
					</a>
					<a href="#" class="panel-minimize">
						<i class="icon ti-angle-up"></i>
					</a>
					<a href="#" class="panel-close">
						<i class="icon ti-close"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<form action="" id="form-a" role="form" class="form form-horizontal">
			<div class="form-group">
			    <label class="col-sm-2 control-label" for="nameField">Name:</label>
			    <div class="col-sm-8">
                    <input name="inline suggestions" type="hidden" id="farmIdField" readonly="readonly" value="{{farm.Id}}" class="form-control" />
			        <input name="inline suggestions" type="text" id="nameField"  value="{{farm.Name}}" class="form-control"/>
			    </div>
			</div>


			
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="latitudeField">Latitude:</label>
                    <div class="col-sm-8">
                        <input name="inline suggestions" type="text" id="latitudeField"  value="{{farm.Latitude}}"  class="form-control" />
                    </div>
                </div>
			    <div class="form-group">
			        <label class="col-sm-2 control-label" for="longitudeField">Longitude:</label>
			        <div class="col-sm-8">
			            <input name="inline suggestions" type="text" id="longitudeField"  value="{{farm.Longitude}}"   class="form-control"/>
			        </div>
			    </div>
			   
			    <div class="form-group" ng-if="$root.userRole=='Admin'">
			        <label class="col-sm-2 control-label">Owner:</label>
			        <div class="col-sm-8">


			            <select id="usersSelectEdit"  class="form-control">

			            </select>
			        </div>
			    </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        
                        <label for="c1"><span id="createUserMessage"></span></label>
                    </div>
                </div>

				<div class="row">
					<div class="col-md-3" align="right">
						<input type="submit" class="btn btn-success" id="editFarm" value="Save">
					</div>
					
				
			<div class="col-md-3">
				<input  type="submit"  class="btn btn-danger" id="cancelButton" value="Cancel">
			</div>
		</div>
		
	</form>
	
</div>
</div>
<!-- /panel -->
</div>