<style scoped>
	.angular-google-map-container { height: 400px; }
</style>
<div class="animated fadeInUpBig" ng-controller="basicMapsCtrl">


	<!-- panel -->
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title">
				Google Map Window
				<span class="panel-options">
					<a href="#" class="panel-refresh">
						<i class="icon ti-reload"></i> 
					</a>
					<a href="#" class="panel-minimize">
						<i class="icon ti-angle-up"></i> 
					</a>
					<a href="#" class="panel-close">
						<i class="icon ti-close"></i> 
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
		    <ui-gmap-google-map center="map6.center" zoom="map6.zoom" draggable="true" options="options">
		        <ui-gmap-marker idkey="marker1.id" coords="marker1.coords" options="marker1.options" click="onClick()" events="marker1.events" >
		            <ui-gmap-window options="windowOptions" closeClick="closeClick()">
		                <div>{{title}}</div>
		            </ui-gmap-window>
		        </ui-gmap-marker>
		    </ui-gmap-google-map>
		</div>
	</div>
	<!-- /panel -->


</div>