<div class="animated fadeInUpBig" ng-controller="dynamicTablesCtrl">
    <!-- *** Editable Tables *** -->
    <div class="panel panel-piluku">
        <div class="panel-heading">
            <h3 class="panel-title">
                Farm A   <button class="btn btn-info active">All</button> <button class="btn btn-info">Building A</button> <button class="btn btn-info">Building B</button>
                <span class="panel-options">
                    <a href="#" class="panel-refresh">
                        <i class="icon ti-reload"></i>
                    </a>
                    <a href="#" class="panel-minimize">
                        <i class="icon ti-angle-up"></i>
                    </a>

                </span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped display" id="example">
                    <thead>
                    <tr>
                        <th>System</th>
                        <th>Device</th>
                        <th>Status</th>
                        <th>Last Update</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd gradeX">
                        <td>Building A</td>
                        <td>BlackBox</td>
                        <td><button class="btn btn-success" type="button">OK <span class="badge">1</span></button></td>
                        <td class="center"> 15.05.2016 12:43</td>
                        <td class="center"><button class="btn btn-primary"><span>Details </span><i class="ion ion-ios-eye"></i></button></td>
                    </tr>
                    <tr class="odd gradeX">
                        <td>Building A</td>
                        <td>PC Application</td>
                        <td><button class="btn btn-success" type="button">OK <span class="badge">1</span></button></td>
                        <td class="center"> 15.05.2016 12:43</td>
                        <td class="center"><button class="btn btn-primary"><span>Details </span><i class="ion ion-ios-eye"></i></button></td>
                    </tr>
                    <tr class="odd gradeX">
                        <td>Building A</td>
                        <td>WSS</td>
                        <td><button class="btn btn-success" type="button">OK <span class="badge">12</span></button></td>
                        <td class="center"> 15.05.2016 12:43</td>
                        <td class="center"><button class="btn btn-primary"><span>Details </span><i class="ion ion-ios-eye"></i></button></td>
                    </tr>
                    <tr class="odd gradeX">
                        <td>Building B</td>
                        <td>BlackBox</td>
                        <td><button class="btn btn-success" type="button">OK <span class="badge">1</span></button></td>
                        <td class="center"> 15.05.2016 12:43</td>
                        <td class="center"><button class="btn btn-primary"><span>Details </span><i class="ion ion-ios-eye"></i></button></td>
                    </tr>
                    <tr class="odd gradeX">
                        <td>Building B</td>
                        <td>PC Application</td>
                        <td><button class="btn btn-danger" type="button">ERROR <span class="badge">1</span></button></td>
                        <td class="center"> 15.05.2016 12:43</td>
                        <td class="center"><button class="btn btn-primary"><span>Details </span><i class="ion ion-ios-eye"></i></button></td>
                    </tr>
                    <tr class="odd gradeX">
                        <td>Building B</td>
                        <td>WSS</td>
                        <td><button class="btn btn-warning" type="button">WARNING <span class="badge">12</span></button></td>
                        <td class="center"> 15.05.2016 12:43</td>
                        <td class="center"><button class="btn btn-primary"><span>Details </span><i class="ion ion-ios-eye"></i></button></td>
                    </tr>
                    </tbody>
                   
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-piluku">
        <div class="panel-heading">
            <h3 class="panel-title">
                Farm B   <button class="btn btn-info active">All</button> <button class="btn btn-info">Building A</button> <button class="btn btn-info">Building B</button>
                <span class="panel-options">
                    <a href="#" class="panel-refresh">
                        <i class="icon ti-reload"></i>
                    </a>
                    <a href="#" class="panel-minimize">
                        <i class="icon ti-angle-up"></i>
                    </a>

                </span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped display" id="example">
                    <thead>
                        <tr>
                            <th>System</th>
                            <th>Device</th>
                            <th>Status</th>
                            <th>Last Update</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX">
                            <td>Building A</td>
                            <td>BlackBox</td>
                            <td><button class="btn btn-success" type="button">OK <span class="badge">1</span></button></td>
                            <td class="center"> 15.05.2016 12:43</td>
                            <td class="center"><button class="btn btn-primary"><span>Details </span><i class="ion ion-ios-eye"></i></button></td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Building A</td>
                            <td>PC Application</td>
                            <td><button class="btn btn-success" type="button">OK <span class="badge">1</span></button></td>
                            <td class="center"> 15.05.2016 12:43</td>
                            <td class="center"><button class="btn btn-primary"><span>Details </span><i class="ion ion-ios-eye"></i></button></td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Building A</td>
                            <td>WSS</td>
                            <td><button class="btn btn-success" type="button">OK <span class="badge">12</span></button></td>
                            <td class="center"> 15.05.2016 12:43</td>
                            <td class="center"><button class="btn btn-primary"><span>Details </span><i class="ion ion-ios-eye"></i></button></td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Building B</td>
                            <td>BlackBox</td>
                            <td><button class="btn btn-success" type="button">OK <span class="badge">1</span></button></td>
                            <td class="center"> 15.05.2016 12:43</td>
                            <td class="center"><button class="btn btn-primary"><span>Details </span><i class="ion ion-ios-eye"></i></button></td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Building B</td>
                            <td>PC Application</td>
                            <td><button class="btn btn-danger" type="button">ERROR <span class="badge">1</span></button></td>
                            <td class="center"> 15.05.2016 12:43</td>
                            <td class="center"><button class="btn btn-primary"><span>Details </span><i class="ion ion-ios-eye"></i></button></td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Building B</td>
                            <td>WSS</td>
                            <td><button class="btn btn-warning" type="button">WARNING <span class="badge">12</span></button></td>
                            <td class="center"> 15.05.2016 12:43</td>
                            <td class="center"><button class="btn btn-primary"><span>Details </span><i class="ion ion-ios-eye"></i></button></td>
                        </tr>
                    </tbody>
                
                </table>
            </div>
        </div>
    </div>
    <!-- /panel -->
</div>