<div class="animated fadeInUpBig" ng-controller="systemsCtrl" >
    <div class="panel panel-piluku" ng-repeat="farm in farmList">
        <div class="panel-heading"  id="panelTable{{farm.Id}}">
            <h3 class="panel-title">
                {{farm.FarmName}}
                <button class="btn btn-info  active" ng-click="changeSystem('all',farm.Id,0)" data-id="0">All</button>
                <button class="btn btn-info " style="margin-right: 4px;" ng-click="changeSystem(system.Name,farm.Id,system.Id)"  ng-repeat="system in farm.Systems" data-id="{{system.Id}}">{{system.Name}}</button> 
                
                <span class="panel-options">
                    <a href="#" class="panel-refresh">
                        <i class="icon ti-reload"></i>
                    </a>
                    <a href="#" class="panel-minimize">
                        <i class="icon ti-angle-up"></i>
                    </a>

                </span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped display" id="systemsTable{{farm.Id}}" >
                    <thead>
                        <tr>
                            <th>System</th>
                            <th>Device</th>
                            <th>Status</th>
                            <th>Last Update</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" data-systemName="{{system.Name}}" ng-repeat="system in farm.SystemsData">
                            <td>{{system.Name}}</td>
                            <td>{{system.DeviceName}}</td>
                            <td><button ng-if="system.NoConnection==false" class="btn {{system.Status==0?'btn-danger':'btn-success'}}" type="button">{{system.Status==0?'ERROR':'OK'}} <span class="badge">{{system.DevicesCounter}}</span></button>
                                <button ng-if="system.NoConnection==true" class="btn btn-warning" type="button">NO CONNECTION <span class="badge">{{system.DevicesCounter}}</span></button>
                            </td>
                            <td class="center"> {{system.LastUpdate.replace("T"," ").substring(0,19)}}</td>
                            <td class="center"><button class="btn btn-primary"><a style="color:white" href="#/app/devices-details?type={{system.DeviceType}}&system={{system.Id}}">Details </a><i class="ion ion-ios-eye"></i></button></td>
                        </tr>
                       
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>