<div class="animated fadeInUpBig" ng-controller="systemsTableCtrl">
    <div class="manage_buttons">
        <div class="row">
            <div class="col-md-3 search">
              
            </div>
            <div class="col-md-9">
                <div class="buttons-list">
                    <div class="pull-right-btn">
                        <a href="#/app/create-system?farmId={{farmId}}" class="btn btn-primary addUserButton"  ng-if="$root.userRole=='Admin' || $root.userRole=='Service'">Add New System</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

	<div class="row">
		<div class="col-md-12">
			<!-- panel -->
			<div class="panel panel-piluku panel-users">
				<div class="panel-heading">
					<h3 class="panel-title">
						List of Systems
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i> 
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i> 
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i> 
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body nopadding">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									
									<th  class="text-center">System Id</th>
									<th  class="text-center">System Name</th>



								    <th class="text-center">Devices</th>
								    <th class="text-center">Edit</th>
                                    <th class="text-center" ng-if="$root.userRole=='Admin'">Delete</th>
									
								</tr>
							</thead>
							<tbody>
								<tr class="table-row text-center" ng-repeat="system in systemList">
									
									<td>{{system.Id}}</td>
									<td>{{system.Name}}</td>


                                    <td>
                                        <a href="#/app/devices-table?systemId={{system.Id}}" class="btn btn-green" data-systemId="{{system.Id}}"><i class="ion ion-navicon"></i></a>
                                    </td>
									<td>
										<a href="#/app/edit-system?systemId={{system.Id}}&farmId={{farmId}}" class="btn btn-green" data-systemId="{{system.Id}}"><i class="ion ion-edit"></i></a>
									</td>
								    <td ng-if="$root.userRole=='Admin'">
                                   
								        <a href="" class="btn btn-red deleteSystemButton" ng-click="$parent.delete(system.Id)" data-systemid="{{system.Id}}"><i class="ion ion-ios-trash-outline"></i></a>
								    </td>
									
								</tr>
                              
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /panel -->
		</div>
	</div>
	<div class="row" style="display: none">
		<div class="col-md-12">
			<ul class="pagination small-pagination pull-right">
                <li><a href="#"><i class="ion ion-ios-arrow-left"></i></a></li>
                <li  class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#"><i class="ion ion-ios-arrow-right"></i></a></li>
            </ul>
		</div>
	</div>
</div>