<div class="animated fadeInUpBig" ng-controller="usersTableCtrl">
	<div class="manage_buttons">
		<div class="row">
			<div class="col-md-3 search">
				<form action="#" method="post">
					<input type="text" name="search" id="search" class="form-control" placeholder="Search User">
				</form>
			</div>
			<div class="col-md-9">
				<div class="buttons-list">
					<div class="pull-right-btn">
						<a href="#/app/create-user" class="btn btn-primary addUserButton">Add New User</a>
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<!-- panel -->
			<div class="panel panel-piluku panel-users">
				<div class="panel-heading">
					<h3 class="panel-title">
						List of Users
						<span class="panel-options">
							<a href="#" class="panel-refresh">
								<i class="icon ti-reload"></i> 
							</a>
							<a href="#" class="panel-minimize">
								<i class="icon ti-angle-up"></i> 
							</a>
							<a href="#" class="panel-close">
								<i class="icon ti-close"></i> 
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body nopadding">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									
									<th  class="text-center">First Name</th>
									<th  class="text-center">Last Name</th>

								    <th class="text-center">E-Mail</th>

								    <th class="text-center" ng-if="$root.userRole=='Admin'">Device Name</th>
                                    
									<th  class="text-center">Created On</th>
									<th>&nbsp;</th>
								  
                                    <th class="text-center" ng-if="$root.userRole=='Admin'">&nbsp;</th>
									
								</tr>
							</thead>
							<tbody>
								<tr class="table-row text-center" ng-repeat="user in userList">
									
									<td>{{user.FirstName}}</td>
									<td>{{user.LastName}}</td>


								    <td>{{user.Email}}</td>
								    <td ng-if="$root.userRole=='Admin'">{{user.DeviceName}}</td>
									<td>{{user.RegistrationDate.toString().replace("T"," ")}}</td>
									<td>
										<a href="#/app/edit-user?userId={{user.Id}}" class="btn btn-green" data-userid="{{user.Id}}"><i class="ion ion-edit"></i></a>
									</td>
								    <td ng-if="$root.userRole=='Admin'">
                                   
								        <a href="" class="btn btn-red deleteUserButton" data-userid="{{user.Id}}"><i class="ion ion-ios-trash-outline"></i></a>
								    </td>
									
								</tr>
                              
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /panel -->
		</div>
	</div>
	<div class="row" style="display: none">
		<div class="col-md-12">
			<ul class="pagination small-pagination pull-right">
                <li><a href="#"><i class="ion ion-ios-arrow-left"></i></a></li>
                <li  class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#"><i class="ion ion-ios-arrow-right"></i></a></li>
            </ul>
		</div>
	</div>
</div>